node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# Android
android/
.gradle/
local.properties
*.jks
*.keystore
*.apk
*.aab
*.apks

# iOS
ios/
*.ipa
*.dSYM
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Expo specific
web-build/
.expo-shared/
